{%- macro date(data) %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{% set params = setObject(data, {
  items:[
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
}) %}
{{ callMacro('govukDateInput', params) }}
{% endmacro -%}