{%- macro date(data) %}
{% from "date-input/macro.njk" import govukDateInput %}
{% set params = setError(data) %}
{% set params = setLabel(params) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{% set params = setObject(data, {
  items:[
    {
      name: 'day'
    },
    {
      name: 'month'
    },
    {
      name: 'year'
    }
  ]
}) %}
{{ govukDateInput(params) }}
{% endmacro -%}