{%- macro fieldset(data) %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{%- call govukFieldset(params) %}
{%- for component in data.components %}
{{ blocks[component._type](component) }}
{% endfor -%}
{% endcall -%}
{% endmacro -%}