{%- macro radios(data) %}
{% from "radios/macro.njk" import govukRadios %}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ govukRadios(params) }}
{% endmacro -%}