{%- macro checkboxes(data) %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% set params = setError(data) %}
{% set params = setItemsLabel(params) %}
{% set params = setInputWidthClass(params) %}
{{ govukCheckboxes(params) }}
{% endmacro -%}